@model AppCareClinicMed.Models.AGENDAMENTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deseja deletar esse agendamento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Retorno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.retorno)
        </dd>
        <dt class = "col-sm-2">
            Data do agendamento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_agendamento)
        </dd>
        <dt class = "col-sm-2">
            Paciente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Nome)
        </dd class>
        <dt class = "col-sm-2">
            Médico
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Nome)
        </dd class>
        <dt class = "col-sm-2">
            Tipo de consulta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo_consulta.Descricao)
        </dd class>
        <dt class = "col-sm-2">
            Convenio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convenio.Descricao)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
