@model IEnumerable<AppCareClinicMed.Models.AGENDAMENTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamento do dia</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<br />
<div>
    <a asp-action="GetAll" class="btn btn-primary">Mostrar todos</a>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Paciente
            </th>
            <th>
                Médico
            </th>
            <th>
                Data do agendamento
            </th>
            <th>
                Tipo de consulta
            </th>
            <th>
                Convenio
            </th>
            <th>
                Forma de Pagamento
            </th>
            <th>
                Retorno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_agendamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_consulta.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Convenio.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forma_pagamento.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.retorno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
