@page
@model AppCareClinicMed.Views.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>USUARIOS</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIOS.usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USUARIOS.usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.USUARIOS.senha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.USUARIOS.senha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.USUARIOS.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
