@model IEnumerable<AppCareClinicMed.Models.HISTORICO_PACIENTE>

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <hr />
    @foreach (var item in Model) {
        <dl class="row">
            <dt class="col-sm-2">
                Paciente
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </dd>
            <dt class="col-sm-2">
                Médico
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Medico.Nome)
            </dd>
            <dt class="col-sm-2">
                Data
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Data_historico)
            </dd>
            <dt class="col-sm-2">
                Histórico
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Historico)
            </dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
}
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
