@page
@model AppCareClinicMed.Views.Historico.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HISTORICO_PACIENTE[0].Historico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HISTORICO_PACIENTE[0].Data_historico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HISTORICO_PACIENTE[0].Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HISTORICO_PACIENTE[0].Medico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HISTORICO_PACIENTE) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Historico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_historico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medico.Id)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
