@model IEnumerable<AppCareClinicMed.Models.CLINICA>

@{
    ViewData["Title"] = "Index";
}

<h1>Clínica</h1>

<p>
    <a asp-action="Create">Cadastrar</a>
</p>
<table class="table" style="font-size:small">
    <thead>
        <tr>
            <th>
                Razão Social
            </th>
            <th>
                Nome Fantasia
            </th>
            <th>
                CNPJ
            </th>
            <th>
                Endereço
            </th>
            <th>
                Número
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cidade
            </th>
            <th>
                Estado
            </th>
            <th>
                País
            </th>
            <th>
                E-mail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Razao_social)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_fantasia)
            </td>
            <td data-mask="00.000.000/0000-00">
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
